{
  "env": {
    "browser": false,
    "es6": true,
    "react-native/react-native": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react",
    "@react-native-community"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "react-native",
    "prettier",
    "jsx-a11y",
    "import",
    "eslint-plugin-prettier",
    "eslint-plugin-react"
  ],
  "rules": {
    "prettier/prettier": "error",
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/prop-types": "warn",
    "radix": "off",
    "no-shadow": "off",
    "eqeqeq": [
      "error",
      "allow-null"
    ],
    "no-console": "warn",
    "global-require": "off",
    "semi": "off",
    "quotes": "off"
  }
}